{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'webapp:project_create' %}">Add Project</a></li>
{% endblock %}

{% block content %}
    {% include 'partial/simple_search.html' %}

    {% for project in projects %}
        <h2>Название: {{ project.name }}</h2>
        <p>Описание: {{ project.description }}</p>
        <p>created_at: : {{ project.created_at }}</p>
        <p>updated_at: {{ project.updated_at }}</p>
        <p>
            <a href="{% url 'webapp:project_view' project.pk %}">More...</a>
            <a href="{% url 'webapp:project_update' project.pk %}">Edit</a>
            <a href="{% url 'webapp:project_delete' project.pk %}">Delete</a>
        </p>
        </p>
        <hr>
    {% endfor %}


{% endblock%}